<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Spring Framework Guru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>mon-1012</h1>

        <h2>Service REST pour accéder aux numéros de mobilis.</h2>
        <h3>Endpoints</h3>
        <p>
        <pre>/mobilis/{name}</pre>
    </p>

    Exemples :

    <a href="/mobilis/marine">Chercher le numéro des contacts dont le nom contient "marine"</a>
</body>
</html>
